{% extends "base.html" %}
{% from "macro/forms.html" import calendar %}

{# 
{% block main %}
<div class="container text-center">
    <h1 class="text-center">{{mm}}월</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                {%- for w in '일월화수목금토' %}
                    <th>{{w}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in range(sdt,edt) | batch(7, '&nbsp;') %}
            <tr>
                {% for col in row %}
                    {% if col|int > 0 %}
                    <td>{{col | safe}}</td>
                    {% else %}
                    <td>{{'&nbsp;' | safe}}</td>
                    {% endif %} 
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 
#}

{% block test %}
    <div>
        <h1 class="text-center">
            <small><a href="calendar?year={{year-1}}" class="text-muted">{{year-1}}</a></small>
            {{year}}
            <small><a href="calendar?year={{year+1}}" class="text-muted">{{year+1}}</a></small>
        </h1>
        <div class="row">
            {% for dts in range(1,13) | batch(3) %}
            {% for m in dts %}
            <div class="col">
                {% set dt= "%s-%s-01" % (year, m) %}
                {# {% print('year:',year) %} #}
                {% print('dt:', dt) %}
                {{calendar(dt)}}
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
