<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinja Test Page</title>
    <!-- case 1 static path 사용 <link rel="stylesheet" href="static/css/style.css"> -->
    <!-- case 2 url_for 사용 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <h1>Jinja Test : {{title}}</h1>

    <pre>
        ttt 한글
        {%- if True -%}
            TTT
        {%- endif -%}qqq
       
        {{ "ABC {DD} KKK"}}

        {{ "<strong>Strong-escape</strong>" | escape}}

        {{ "<strong>Strong-safe</strong>" | safe}}

        {{ "<strong>Strong-striptags</strong>" | striptags}}

        {{bold}}
        {{bold_escape}}
        {{bold_unescape}}

        {% raw %}
            {% if True %}
                TTT
            {% endif %}
        {% endraw %}

        <ul>
            {%- for item in lst -%}
                <li>{{item[0]}} : {{item[1]}} - {{loop.index}}</li>
            {%- endfor -%}
        </ul>

    </pre>
    <p> for loop 속에서 기본으로 제공되는 object 
        - loop.index
        - loop.revindex
        - loop.first
        - loop.last 
        - loop.length
    </p>
    <ul>
        {%- for item in lst recursive -%}
            <li class="{{loop.cycle('aaa', 'bbb')}}">{{item[0]}} : {{item[1]}}
                <ul>{{ loop(item[3])}}</ul>
            </li>
        {%- endfor -%}
    </ul>

    <ul>
        {% for nav in navs recursive %}
        <li>
            <a href="nav.url">{{nav.title}} - {{loop.depth}}</a>
            {%- if nav.children -%}
            <ul class="{% if loop.depth != 1 %} font-sm {% endif %}">
                {{ loop(nav.children) }}
            </ul>
            {%- endif -%}
        </li>
        {% endfor %}
    </ul>

    <p>Parent's loop</p>
    <ul>
        {% for rank, title, name, ref in lst recursive %}
        <li>
            {{loop.index}} - <small>{{title}}</small>: {{name}}
            {%- if ref -%}
                {% set outer_loop = loop %}
                {% for ref_item in ref %}
                    <p>{{outer_loop.index}} - {{loop.index}} : {{ref_item[1]}}</p>
                {% endfor %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div>
        Copyright <a href="/tmpl3">IndiFlex Senior Coding</a>
        Copyright <a href="{{ url_for('tmpl2')}}">IndiFlex Senior Coding</a>
    </div>
</body>
</html>